<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="host" value="gha.healthmetricsandevaluation.org"/>
		<add key="appId" value="bEkcYAM"/>
		<add key="appSecret" value="WtKKZbOPweAkIw"/>
	</appSettings>
</configuration>
