<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="host" value="dev.knoema.org"/>
		<add key="userName" value="test@knoema.com"/>
		<add key="password" value="test"/>
		<add key="appId" value="EZj54KGFo3rzIvnLczrElvAitEyU28DGw9R73tif"/>
		<add key="appSecret" value="WtKKZbOPweAkIw"/>
		<add key="filename" value="C:\\Regds_1Dim.xlsx"/>
	</appSettings>
</configuration>